.text-button {
  display: inline-block;
  margin-left: 4px;
  margin-bottom: 0;
  vertical-align: bottom;
  padding: 0;

  background: none;
  border: none;
  font-size: 14px;
  line-height: 16px;
  color: #00a8fc;
  cursor: pointer;
}

.text-button:hover {
  text-decoration: underline;
}
