.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.messages-wrapper {
  display: flex;
  flex: 1 1 auto;
  background-color: #313338;
  overflow: hidden;
  z-index: 0;
  overflow-anchor: none;
}

.messages {
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messages-spacer {
  height: 30px;
  width: 1px;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.scroller {
  overflow-y: scroll;
  overflow-x: hidden;
}
